# Añadir esta línea para instalar automáticamente las dependencias de pares
auto-install-peers=true

# Añadir esta línea para permitir que pnpm no falle en caso de problemas con las dependencias de pares
strict-peer-dependencies=false