{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 2,
    "overrides": [
      {
        "files": "*.{ts,svelte}",
        "options": {
          "parser": "typescript"
        }
      }
    ],
    "plugins": ["svelte"]
  }